header {
    color: #3a416f;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
  }

.login-form {
  background-color: #5d83c0;
  min-width: 25em;
  width: 25vw;
  max-height: 33em;
  height: calc(70vh - 120px);
  margin: auto;
  margin-top: calc(60px + 4vh);
  
}

input[type=text], input[type=password], select {
  font-family: "GE Inspira", sans-serif;
  font-size: 20px;
  background-color: #F6F6FC;
  border-style: none;
  color: #333;
}

input[type=text]:focus , input[type=password]:focus, select:focus {
  background-color: white;
  color: black;
  border: 1px solid white;
}

::placeholder {
  color: var(--c, #8F8F90);
}

.login-field {
  width: calc(100% - 5em);
  height: 4vh;
  border-radius: 6px;
  padding-left: 8px;
  align-items: center;
  margin-left: 2.2em;
  margin-right: 2.8em;
  margin-top: 2vh;
}

input[type=submit] {
  background-color: transparent;
  font-family: "GE Inspira", sans-serif;
  font-size: 16px;
  color: white;
  border: solid;
  border-width: 3px;
  border-color: white;
}

input[type=submit]:hover {
  background-color: white;
  color: #00003D;
}

.login-button {
  width: 30%;
  height: 5vh;
  border-radius: 2.5vh;
  margin-left: 35%;
  margin-right: 25%;
  margin-top: 3vh;
}

#password-reset {
  text-align: center;
  margin-top: 2em;
}

a {
  font-family: "GE Inspira", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  
}

a:hover {
  text-decoration: none;
  color: #88BBFF;
}

label {
  width: 100%;
  float: left;
  color: #FFFFFF;
  font-family: "GE Inspira", sans-serif;
  font-size: 20px; 
}

.secq-form {
  background-color: #5d83c0;
  width: 45vw;
  min-width: 40em;
  height: calc(70vh - 120px);
  min-height: 30em;
  margin: auto;
  margin-top: calc(60px + 4vh);
}

.hidden {
    font-size: 20px;
	font-weight: bold;
    color: #FF1111;
	text-align: center;
}

.secq-section {
  width: min-content;
  position: relative;
  margin: auto;
  padding: 0em 1.5em;
}

.secq-line {
  width: max-content;
  position: relative;
  margin: auto;
}

.secq_label {
  padding: 0em .5em;
  margin-top: .5em;
}

.seq-field {
  height: 2.2em;
  border-radius: 6px;
  padding-left: 8px;
  margin: 1vh .5vw;
  border: 1px solid white;
}

.form-control {
  width: 100%;
  height: min-content;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.secq-button {
  width: 7vw;
  height: 3.2em;
  border-radius: 2em;
  margin: 2em 3em;
}
  
h2 {
	width: 100%;
	background-color: #3a416f;
	text-align: center;
    color: white;
    padding-top: .5em;
	padding-bottom: .5em;
    font-family: "GE Inspira", sans-serif;
    font-size: 28px;
  }

h3 {
    color: white;
    margin: auto;
    font-family: "GE Inspira", sans-serif;
    font-size: 20px;
	display: inline-block;
	padding-left: .3em;
  }
  
img {
	display: inline-block;
	vertical-align: top;
}
  
.file-entry {
	height: min-content;
	width: max-content;
	white-space: nowrap;
	margin: 1.5vh .5vw;
}

footer {
  background-color: #10a3a2;
  padding: 32px 0;
  text-align: center;
  font-family: "GE Inspira", sans-serif;
  font-size: 20px;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height: 60px;
}
