header {
    color: #3a416f;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
  }

.login-form {
  background-color: #5d83c0;
  width: 25vw;
  height: 30vw;
  margin: auto;
  margin-top: 5vw;
  
}

input[type=text], input[type=password], select {
  font-family: "GE Inspira", sans-serif;
  font-size: 20px;
  background-color: #F6F6FC;
  border-style: none;
  color: #333;
}

input[type=text]:focus , input[type=password]:focus, select:focus {
  background-color: white;
  color: black;
  border-style: none !important;
}

::placeholder {
  color: #8F8F90;
}

.login-field {
  width: 20vw;
  height: 2.5vw;
  border-radius: 6px;
  padding-left: 8px;
  align-items: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 1vw;
}

input[type=submit] {
  border: none;
  color: white;
  background-color: transparent;
  font-family: "GE Inspira", sans-serif;
  font-size: 20px;
  border: solid;
  border-width: 3px;
  border-color: white;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: white;
  color: #00003D;
}

.login-button {
  width: 5.5vw;
  height: 2.5vw;
  border-radius: 1.75vw;
  margin-left: 9.75vw;
  margin-right: 9.75vw;
  margin-top: 1vw;
}

a {
  font-family: "GE Inspira", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin: auto;
}

a:hover {
  text-decoration: none;
  color: #88BBFF;
}

label {
  width: 100%;
  float: left;
  color: #FFFFFF;
  font-family: "GE Inspira", sans-serif;
  font-size: 20px; 
}

.secq-form {
  background-color: #5d83c0;
  width: 45vw;
  height: 30vw;
  margin: auto;
  margin-top: 5vw;
}

.secq-line {
  width: max-content;
  position: relative;
  margin: auto;
}

.seq-field {
  height: 2.5vw;
  border-radius: 6px;
  padding-left: 8px;
  margin: .5vw;
}

footer {
  background-color: #10a3a2;
  padding: 32px 0;
  text-align: center;
  font-family: "GE Inspira", sans-serif;
  font-size: 20px;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}

  
h1 {
    color: white;
    margin: auto;
    font-family: "GE Inspira", sans-serif;
    font-size: 28px;
  }

h2 {
    color: white;
    margin: auto;
    font-family: "GE Inspira", sans-serif;
    font-size: 20px;
  }